@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

.container {
    background: #212020;
    color: white;
    width: 22rem;
    height: 36rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.container input {
    background-color: transparent;
    border: none;
    height: 14rem;
    color: white;
    font-size: 9rem;
    padding: 1rem;
}

.botones {
    background-color: #dadadb;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 22rem;
    gap: 0.6rem;
    padding: 1.5rem;
    border-radius: 1rem;
    grid-template-areas:
        'n1 n2 n3 n4'
        'n5 n6 n7 n8'
        'n9 n10 n11 n12'
        'n13 n14 n15 n16'
        'n17 n17 n17 n18';
}

.item {
    border: none;
    border-radius: 0.6rem;
    font-size: 20px;
    color: #728AB7;
}

.item:hover {
    background-color: #c2c2c2;
    color: white;
}

.itemBoton1 {
    grid-area: n1;
}

.itemBoton2 {
    grid-area: n2;
}

.itemBoton3 {
    grid-area: n3;
}

.itemBoton4 {
    grid-area: n4;
    color: #745FF2;
}

.itemBoton5 {
    grid-area: n5;
}

.itemBoton6 {
    grid-area: n6;
}

.itemBoton7 {
    grid-area: n7;
}

.itemBoton8 {
    grid-area: n8;
    color: #745FF2;
}

.itemBoton9 {
    grid-area: n9;
}

.itemBoton10 {
    grid-area: n10;
}

.itemBoton11 {
    grid-area: n11;
}

.itemBoton12 {
    grid-area: n12;
    color: #745FF2;
}

.itemBoton13 {
    grid-area: n13;
}

.itemBoton14 {
    grid-area: n14;
}

.itemBoton15 {
    grid-area: n15;
}

.itemBoton16 {
    grid-area: n16;
    color: #745FF2;
}

.itemBoton17 {
    grid-area: n17;
}

.itemBoton18 {
    grid-area: n18;
    background-color: #2DD3C5;
    color: white;
}